extends ../layout/base.pug

block content
    main
        .product-form-container
            form.product-form(action=(editing ? '/admin/edit-product' : '/admin/add-product') method="POST")
                .form-control
                    label(for="title") Title
                    input(type="text",name="title",placeholder="Title",value=editing ? product.title : '')#title
                .form-control
                    label(for="imageUrl") Image URL
                    input(type="text",name="imageUrl",placeholder="Image url",value= editing ?product.imageUrl : '')#imageUrl
                .form-control
                    label(for="price") Price
                    input(type="number",name="price", placeholder="Price" step="0.01",value=editing ?product.price : '')#price
                .form-control
                    label(for="description") Description
                    textarea(placeholder="Description", name="description",  rows="6")#description #{editing ?product.description : ''}
                input.btn(type="submit" value=(editing ? 'Update' : 'Add Product'))
                input(type="hidden", name="productId" value=(editing ? product._id : ''))
