extends ../layout/base.pug

block content
    main
        if products.length > 0
            ul.cart-item-list
                each product in products
                    li.cart_item 
                        h1 #{product.productId.title}
                        h2 Qty: #{product.quantity}  
                        form(action="/delete-cart", method="POST")
                            input(type="hidden", name="productId", value=product.productId._id)
                            button(type="submit",class="btn danger") -
            hr.separator
            .centered
                form(action="/create-order", method="POST")
                    button(type="submit").btn Order Now
        else
            h2 Your Cart is Empty