extends ../layout/base.pug

block content
    main
        if orders.length > 0
            h1 Your Orders
            hr.separator
            each order in orders
                .card
                    .card__header-order
                        h2 Order 
                            span#order_id  ##{order._id}
                        small ORDER PLACED ON #{new Date(order.createdAt).toLocaleString()}
                            span#date_ordered
                    .card__content-order
                        each product in order.products
                            ul
                                li #{product.title} Qty: #{product.quantity}
        else
            h1 You have not placed any orders. 